.side-nav-dark .side-nav {
    background-color: #1a2942;
    color: #99abb4
}

.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a {
    color: #99abb4
}

.side-nav {
    width: 250px;
    background-color: #fff;
    z-index: 1000;
    top: 56px;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease
}

.side-nav .side-nav-inner {
    position: relative;
    height: 100%
}

.side-nav .side-nav-inner .side-nav-menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: auto;
    height: calc(100vh - 65px);
    border-right: 1px solid #e9eaec
}

.side-nav .side-nav-inner .side-nav-menu li {
    position: relative;
    display: block
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown .arrow {
    position: absolute;
    right: 30px;
    line-height: 26px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .icon-holder {
    color: #fff
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg)
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open .dropdown-menu {
    display: block
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open .dropdown-menu .dropdown-menu {
    padding-left: 20px
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open .dropdown-menu .arrow {
    line-height: 25px
}



.side-nav .side-nav-inner .side-nav-menu li a:hover,
.side-nav .side-nav-inner .side-nav-menu li a:focus {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease
}

.side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder {
    color: #fff
}

.side-nav .side-nav-inner .side-nav-menu li a.dropdown-toggle:after {
    display: none;
    border-radius: 0
}

.side-nav .side-nav-inner .side-nav-menu li.side-nav-header {
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 20px;
    opacity: .7
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu {
    position: relative;
    width: 100%;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    padding-left: 50px;
    padding-top: 0;
    background-color: transparent;
    float: none
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a {
    padding: 10px 15px
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a:hover,
.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a:focus {
    background-color: transparent;
    color: #515365
}

.side-nav .side-nav-inner .side-nav-menu li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap
}

.side-nav .side-nav-inner .side-nav-menu li a .icon-holder {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    position: relative;
    left: 0;
    font-size: 20px;
    margin-right: 14px
}

.side-nav .side-nav-inner .side-nav-menu li a .icon-holder i {
    vertical-align: middle
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open>a {
    color: #fff;
    background: #e22a6f
}

.side-nav .side-nav-inner .side-nav-menu li a:hover,
.side-nav .side-nav-inner .side-nav-menu li a:focus {
    color: #fff;
    background: #e22a6f
}

.page-container {
    min-height: 100vh;
    padding-left: 250px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease
}

.page-container .main-content {
    padding: calc(50px + 35px) 15px 15px;
    min-height: calc(100vh - 65px);
    background: #f1f2f7;
    width: 100%;
    flex-grow: 1
}

@media all and (max-width:960px) {
    .side-nav {
        display: none; 
    }
    .page-container{
        padding-left:0;
    }
}


/* login*/
.wrapper-page {
    margin: 7.5% auto;
    position: relative;
}

.btn-common {
    background-color: #e22a6f;
    position: relative;
    z-index: 1;
    color: #fff;
}

.btn-common:hover {
    background: #101010;
    color: #fff;
    box-shadow: 0 6px 22px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}